{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}

        Reservation
        <p> date de reservation : {{ dateOfPurchase |date("d/m/Y")}} </p>
        <p> Code de reservation : {{ reservationCode }} </p>


{% endblock %}