{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div id="accueil">
        <p>Bienvenue sur le site du Louvre</p>

    </div>
    <img src="{{ asset('bundles/louvreticketing/images/accueil.png') }}" alt="Louvre" class="image-accueil" >
    <p></p>
{% endblock %}