{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div id="tunnelAchat">
        <ol class="tunnel">
            <li></li>
            <li {% if app.request.attributes.get('_route') == 'louvre_ticketing_bookingsteptwopage' %}class="is-current"{% endif %}></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
    <div class="well">
        Reservation

        {{ id }} <br/>
        {{ numberOfTickets }} <br/>
        {{ dateOfVisit|date('Y-m-d') }}


    </div>

{% endblock %}