{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div id="tunnelAchat">
        <ol class="tunnel">
            <li></li>
            <li {% if app.request.attributes.get('_route') == 'louvre_ticketing_bookingsteptwopage' %}class="is-current"{% endif %}></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
    <div class="well">
        Reservation

        Id de la transaction : {{ id }} <br/>
        Nombre de visiteurs : {{ numberOfTickets }} <br/>
        Date de la visite : {{ dateOfVisit|date('Y-m-d') }} <br/>
        Nombre de billets total vendus pour ce jour : {{ totalTicketsForTheDay }}

    </div>

{% endblock %}