{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div>
        <h1>Bienvenue sur la billetterie du musée du Louvre</h1>
        <p>
            Le musée est ouvert tout les jours, de 9h à 18h, sauf le mardi (Fermeture hebdomadaire) et les 1er mai, 1er novembre et 25 décembre.


            La commande de billets en ligne est impossible :

            - Les dimanches

            - Les jours fériés

            - Si plus de 1000 billets ont déjà été commandés en ligne pour la journée en cours

            Pour ces dates, veuillez vous rendre directement au Musée pour acheter vos billets.
        </p>
        <p>
            La commande de billet demi-journée est impossible pour la journée en cours s'il est plus de 14 heures.

            Le billet demi-journée ne permet de rentrer dans le Musée qu'à partir de 14 heures.
        </p>
        <p>
        <h2><a href="/booking-step-one">Acheter des billets</a></h2>
        </p>
    </div>



{% endblock %}