{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div id="tunnelAchat">
        <ol class="tunnel">
            <li></li>
            <li></li>
            <li></li>
            <li {% if app.request.attributes.get('_route') == 'louvre_ticketing_bookingstepforpage' %}class="is-current"{% endif %}></li>
        </ol>
    </div>
    <div class="well">
        <B>Merci de votre commande !</B>
        <br/>
        vous allez recevoir vos billets à l'adresse mail indiquée : <B>{{ booking.email }}</B>
    </div>
{% endblock %}

