{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div id="tunnelAchat">
        <ol class="tunnel">
            <li></li>
            <li></li>
            <li></li>
            <li {% if app.request.attributes.get('_route') == 'louvre_ticketing_bookingstepforpage' %}class="is-current"{% endif %}></li>
        </ol>
    </div>
    <div class="well">
        <p><B>Merci de votre commande !</B></p>

        <p>vous allez recevoir {% if booking.numberOfTickets==1 %}votre billet{% endif %}{% if booking.numberOfTickets>1 %}vos billets{% endif %} à l'adresse mail indiquée : <B>{{ booking.email }}</B></p>

        <p><a href="{{ path('louvre_ticketing_homepage') }}" class="btn btn-info" role="button" title="Lien 1">Revenir à l'accueil</a></p>
    </div>
{% endblock %}

