{% extends "LouvreTicketingBundle::layout.html.twig" %}

{%  block body %}
    <div id="tunnelAchat">
        <ol class="tunnel">
            <li></li>
            <li {% if app.request.attributes.get('_route') == 'louvre_ticketing_bookingsteptwopage' %}class="is-current"{% endif %}></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
    <div class="well">
        Reservation


        {{ form_start(form) }}

        <div class="form-group">
            {{ form_row(form.tickets) }}
            <a href="#" id="add_ticket" class="btn btn-default">Ajouter un visiteur</a>
            {{ form_rest(form) }}
        </div>


    </div>

{% endblock %}