
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

#form-step-one{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.formulaire {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}




.formulaire-step2 {
    display: inline-block;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#emailAlert {
    background-color: #DADADA;
    border-radius: 1%;



}

#reduceAlert{
    display: none;
    background-color: #DADADA;
    border-radius: 1%;
}

#accueil {
    text-align: center;
    width: 50%;
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;

}

#contraintes{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.jumbotron {
    color: white;
    padding-bottom : 0;
    padding-top: 0;
    margin-bottom :10px;
}

.center {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight: 500;
}

.image-jumbotron {
    width: 100%;
    height: auto;

}

.image-accueil {
    width: 80%;
    height: auto;

}

#fleche {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.fleche-gauche {
    float: left;
    display: inline;
    margin-left: 0px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.fleche-gauche:hover {
    margin-left: -30px;

}

.fleche-droite {
    float: right;
    margin-right: 0px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.fleche-droite:hover {
    margin-right: -30px;
}


#louvre_ticketingbundle_booking_dateOfVisit {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#louvre_ticketingbundle_booking_tickets___name___dateOfBirth {
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

/* ********************************************************************* */

/* *** apparence d'un select quand on simule un readonly *************** */

/* ********************************************************************* */

select.readonly {

    -webkit-appearance: none;

    -moz-appearance: none;

    text-indent: 1px;

    border: none;

    color: #333333;

    position: relative;

    left: -2px;

}

.navbar-default {
    background-color: #2e3436;
    border-color: #2e3436;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}



.well {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.form-group>ul>li {
    color: red;

}
.footer {
    background: #222222 none repeat scroll 0 0;
    border-top: 4px solid #999;
    margin: 0;
    padding: 20px 0;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    color: white;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    color: #f5f5f5;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}

.footer_dv a {
    color: #f5f5f5;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}

.datepicker table tr td.new, .datepicker table tr td.old{
    opacity: 0.4;
    color: black;
}
.datepicker table tr td.disabled{
    background: rgba(218,218,218,0.8);

}
.datepicker table tr td.disabled, .datepicker table tr td.active, .datepicker table tr td.active:hover{
    border-radius: 2%;
}





/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}

    #louvre_ticketingbundle_booking_dateOfVisit {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #louvre_ticketingbundle_booking_tickets___name___dateOfBirth {
        text-align: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #contraintes{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .jumbotron {
        color: white;
        padding-bottom : 0;
        padding-top: 0;
        height: 150px;
        margin-bottom :10px;
    }

    .image-jumbotron{

        height: 100%;
    }
    .center {
        display: none;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        margin-left: auto;
        margin-right: auto;
    }
}
